{% extends 'app/padre.html' %}
{% block titulo %}
Carro de compras
{% endblock %}

{% block contenido %}


<div class="card">
    <div class="card-header">
      Productos 
    </div>
    <div class="card-body">
        <img src="{{prod.imagenproducto.url}}">
      <h5 class="card-title"></h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>


{% endblock%}
